/* CSS BY NAME Lillian Jones */
/* IMPORTED FONTS */
@font-face {
    font-family: Kavoon, Inter;
    src: url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
}
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


.root{

    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    --font-family: Playfair Display;

}


header, footer {

    width:100%;
    background-color: #1F2A44;
    color: #F8F4EC;
    font-family: Playfair Display;
}
  body {
    min-width: 320px;
    background-color: #FAF9F6;
    min-width: 320px;
    font-family: Playfair Display;
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-decoration: none;
        background-color:#E5C185;
        font-weight:bold;
        text-align: center;

    }
      
    nav li {
        list-style:none;

      }